@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
.brand-logo {
  max-width: 140px;
}
/* background  */
.light-bg,
.light-bg a {
  color: #394149 !important;
}
/* btn */
a.bg-brand-primayfaint:hover {
  color: white !important;
  background-color: #f58a07 !important;
}
.bg-brand-primayfaint {
  color: #f58a07 !important;
  background: rgba(245, 138, 7, 0.1) !important;
}

/*  */
.align-app-content {
  width: min(1280px, 100%);
}
.nav-link {
  color: #394149 !important;
  font-weight: 500;
}
.header-logos img {
  width: 80%;
}
.bg-bluelight {
  background-color: #dceaf5;
}

.b-6 {
  border-radius: 16px !important;
  -webkit-border-radius: 16px !important;
  -moz-border-radius: 16px !important;
  -ms-border-radius: 16px !important;
  -o-border-radius: 16px !important;
}
/* color  */
.cl-battelshipGrey-600 {
  color: #5b5b5b;
}
.cl-primary-900 {
  color: #1d3444;
}
.cl-primary-800 {
  color: #0d1317;
}
.cl-primary {
  color: #f58a07 !important;
}
.cl-blue-700 {
  color: #063255;
}
.bg-bluefaint {
  background-color: #edf7ff;
}
.bg-brand-primay {
  background: #f58a07 !important;
}

.brands-showcase span {
  color: rgba(57, 65, 73, 0.5);
}
.link {
  color: #f58a07;
  text-decoration: none;
}

.icon {
  color: #f58a07;
  font-size: 2rem;
}
.img-bar {
  position: absolute;
  left: 2;
  top: 0;
  bottom: 0;
  background: #f58a07;
  mix-blend-mode: multiply;
  width: 20%;
  z-index: 2;
  border-radius: 16px 0px 0px 16px;
  -webkit-border-radius: 16px 0px 0px 16px;
  -moz-border-radius: 16px 0px 0px 16px;
  -ms-border-radius: 16px 0px 0px 16px;
  -o-border-radius: 16px 0px 0px 16px;
}
.img-fit-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.overlay-img {
  position: absolute;
  right: -1.6%;
  top: -2.6%;
  z-index: 2;
}
.overlay-img--circle {
  transform: translateX(15%) translateY(-30%);
  -webkit-transform: translateX(15%) translateY(-30%);
  -moz-transform: translateX(15%) translateY(-30%);
  -ms-transform: translateX(15%) translateY(-30%);
  -o-transform: translateX(15%) translateY(-30%);
}
.tab {
  font-size: 14px !important;
}
@media screen and (max-width: 768px) {
  .overlay-img {
    width: 16vw;
    right: -1%;
    top: -0.9%;
  }
  .tab {
    font-size: 12px !important;
  }
}
.dark-bg,
.dark-bg a {
  color: white;
}
.light-bg h1,
.light-bg h2,
.light-bg h3 {
  color: #0d1317;
}
.light-bg p,
.light-bg span {
  color: #5b5b5b;
}

button.bg-white {
  background-color: white;
  color: #f58a07;
}
.person-info span {
  font-size: 14px;
}
.bg-blueDark {
  background: #063255;
}
a {
  text-decoration: none !important;
}
